page-inspection {

    ion-segment {
        background-color: #7764D7;
        
        // border-radius: 20px;
    }
    .button-color{
    background-color: orange;
    float: right;
    bottom: 10px;
    }
    .btn{
        background-color: orange;
        bottom: 20px;
    }

    // ion-card {
    //     bottom: 20px;
    // }

    
    

}
